<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  <body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class = "container">
         <nav class = "nav navbar-brand">
          <%= link_to "Bookers",root_path, class:"bookers"%>
         </nav>
      
        <ul class = "nav navbar-nav navbar-right">
         <% if user_signed_in? %>
          <li>
           <%= link_to "Home", user_path(current_user.id), class:"fas fa-home nav-link text-light" %>
          </li>
          <li>
           <%= link_to "Users",user_index_path, class:"fas fa-users nav-link text-light" %>
          </li>
          <Li>
           <%= link_to "Books",books_path, class:"fas fa-book-open nav-link text-light"  %>
          </Li>
          <li>
           <%= link_to "logout", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt nav-link text-light"  %>
          </li>
          
         <% else %>
    
          <li>
           <%= link_to "Home", root_path, class:"fas fa-home nav-link text-light" %>
          </li>
          <li>
           <%= link_to "About",homes_path, class:"fas fa-link nav-link text-light"  %>
          </li>
          <li>
           <%= link_to "sign up", new_user_registration_path, class:"fas fa-user-plus nav-link text-light"  %>
          </li>
          <li>
           <%= link_to "login", new_user_session_path, class:"fas fa-sign-in-alt nav-link text-light"  %>
          </li>
      
         <% end %>
    
        </ul>
       </div>
    </header>
    
      <%= yield %>
    
    <footer>
      <div class ="container mt-5">
        <div class ="row">
          <div class ="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
</html>
